@font-face {
  font-family:"scotch-display";
  src:url("https://use.typekit.net/af/6562ea/00000000000000007735f849/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/6562ea/00000000000000007735f849/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/6562ea/00000000000000007735f849/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}
  
@font-face {
font-family:"scotch-display";
src:url("https://use.typekit.net/af/3de699/00000000000000007735f84e/30/l?subset_id=2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/3de699/00000000000000007735f84e/30/d?subset_id=2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/3de699/00000000000000007735f84e/30/a?subset_id=2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}
@font-face {
font-family:"Mazius";
src:url("../fonts/Mazius\ Display\ Extraitalic.otf") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}
@font-face {
font-family:"Mazius";
src:url("../fonts/Mazius\ Display\ Regular.otf") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family: 'Helvetica-Now';
  src:
      url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('../fonts/HelveticaNowDisplay-Light.woff') format('woff'),
      url('../fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Now';
  src:
      url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
      url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
      url('../fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}